<div class="row position-relative mb-5 mx-auto">
  <div class="index-container col-sm-6 mx-auto">
    <div class="mt-4 d-flex align-items-center">
      <h3 class="col-10 d-flex justify-content-center "><i class="fas fa-book"> 我的記帳小本本</i> </h3>
      <a href="/records/create" class="text-decoration-none text-center col-1 mr-2" id="add-button"><i class="fas fa-plus-circle"></i></a>
      <a href="/" class="back-btn text-decoration-none text-center col-1"><i class="fas fa-undo-alt"></i></a> 
    </div>
    <div class="total-box mt-3 p-1">
      <div class="col-12 text-center align-items-center">
        <small>總共花費</small>
        <div class="">
        <h3 style="color: rgb(198, 46, 19);">$ {{toMoney totalAmount.amount}}</h3>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-around">
      <div class="select-container mt-4 row col-6">
        <form action="/records/filter" class="w-100">
          <div class="form-group d-flex align-items-center">
            <i class="fas fa-calendar-minus mr-2"></i>
            <select name="month" class="form-control" id="month" {{#if category}}disabled{{/if}} onchange="this.form.submit()">
              <option value="" disabled selected hidden> {{#if selectedMonth}}{{selectedMonth}}{{else}}Filter by month{{/if}}</option>
              {{#each months}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
        </form>
      </div>

      <div class="select-container mt-4 row col-6">
        <form action="/records/filter" class="w-100">
          <div class="form-group d-flex align-items-center">
            <i class="fas fa-filter mr-2"></i >
            <select name="category" class="form-control" id="category" {{#if selectedMonth}}disabled{{/if}} onchange="this.form.submit()">
              <option value="" disabled selected hidden>Filter by category</option>
              <option value="家居物業" {{ifEquals category '家居物業' }}>家居物業</option>
              <option value="交通出行" {{ifEquals category '交通出行' }}>交通出行</option>
              <option value="休閒娛樂" {{ifEquals category '休閒娛樂' }}>休閒娛樂</option>
              <option value="餐飲食品" {{ifEquals category '餐飲食品' }}>餐飲食品</option>
              <option value="其他" {{ifEquals category '其他' }}>其他</option>
            </select>
          </div>
        </form>
      </div>
    </div>
        {{#each record}}
          <div class="row m-1 list-item">
            <div class="col-2  d-flex align-items-center">
                  <i class="{{this.icon}} fa-2x fa-fw"></i>
            </div>
            <div class="col-4">
                <h5 class="pt-2 " style="color: #3a3a3a;">{{this.name}}</h5>
                <small class="text-muted">{{this.date}}</small>
            </div>
            <div class="col-3 pt-3">
              <h3 >${{toMoney this.amount}}</h3>
            </div>
            <div class="col-3 pt-2 d-flex flex-column align-items-center">
                <a class="icon text-muted ml-1" id="edit" href="/records/{{this._id}}/edit">
                  <i class="fas fa-edit"></i>
                </a>
                <form action="/records/{{this._id}}?_method=DELETE" method="post"
                  onsubmit="return deleteAlert()">
                  <button type="submit" class="text-muted" style="border: none; background:none;">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
            </div>
          </div>  
        {{/each}}
  </div>
</div>